<h1 class="alert alert-dark" role="alert">Nuevo Libro</h1>

<%= form_for @books do |f| %>
    <div class="alert alert-dark" role="alert">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="alert alert-dark" role="alert">
        <%= f.label :author%>
        <%= f.text_field :author %>
    </div>
    <div class="alert alert-dark" role="alert">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div class="alert alert-dark" role="alert">
        <%= f.label :image_url %>
        <%= f.text_field :image_url %>
    </div>
    <div class="alert alert-dark" role="alert">
        <%= f.label :publication_date %>
        <%= f.date_field :publication_date %>
    </div>
    <div class="alert alert-dark" role="alert">
        <%= f.label :price %>
        <% f.number_field :price %>
    </div>

    <div class="alert alert-dark" role="alert">
        <%= f.submit "Crear libro" %>
    </div>

    <% end %>